{% extends 'base.html.twig' %}

{% block title %}Hello StaticController!{% endblock %}

{% block body %}

    <h1>Hello world ! ✅</h1>
    <ul>

        <li><a href="{{ url('other') }}">Go to other page</a></li>
        <li><a href="{{ url('redirect_to_other') }}">Get redirected to other page</a></li>
    </ul>
    <p>
    </p>

    <p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#booking_modal">
            Submit a form
        </button>

    </p>
    <!-- Modal -->
    <div class="modal fade" id="booking_modal" tabindex="-1" aria-labelledby="booking_modalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
      $('#booking_modal').on('show.bs.modal', function (event) {
        $('#booking_modal .modal-content').load('{{ url('message', {}, true) }}');
      });
    </script>
{% endblock %}
