{{ form_start(form, {attr: {class: 'ajax-submit'}}) }}
<div class="modal-header">
    <h5 class="modal-title" id="booking_modalLabel">Modal title</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <h1>This is a simple form</h1>
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <p>
            This modal is loaded by <em>AJAX</em> and will be submitted via AJAX too. If you don't comply with
            server-side validation, it will show you inline errors, or else it will redirect after submit.
        </p>
        <p>
            The constraint you can test is the <code>message</code> field must be at least 10 characters long.
        </p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {{ form_widget(form) }}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="submit" id="booking_submit" class="btn btn-primary">Submit</button>
</div>
{{ form_end(form) }}
<script type="application/javascript">
  $('form.ajax-submit').on('submit', function (event) {
    event.preventDefault();
    const form = $(event.target);
    $('#booking_submit').attr('disabled', true).append('...');

    $.ajax(form.action, {
      url: form.attr('action'),
      method: 'POST',
      data: form.serialize(),
      error: function (response) {
        console.log(response);
        form.parent('.modal-content').html(response.responseText);
      },
    });
  });
</script>
